body {
  margin: 0;
  font-family: 'Fredoka', 'Comic Sans MS', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fredoka', 'Comic Sans MS', cursive, sans-serif;
}

body {
  font-family:'Fredoka', 'Comic Sans MS', cursive, sans-serif;
  background-color: #fff0f5; /* soft pink */
  color: #333;
}

h1, h2, h3, h4 {
  font-family: 'Caveat', cursive;
  color: #ff4081; /* bright pink */
}

